<div ng-controller="mainController">
	<div class="container-fluid" style="background-color: #e8e8e8">
		<div class="container container-pad" id="property-listings">

			<!-- 			<div class="row"> -->
			<!-- 				<div class="col-md-12"> -->
			<!-- 					<h1>oglasi</h1> -->
			<!-- 				</div> -->
			<!-- 			</div> -->

			<div class="row col-sm-12">
			
			<button id="fixedbutton" 
				class="btn fa fa-plus-square btn-primary"
				ng-click="showAddUserInteraction()">
			</button>

				<div class="col-sm-2" id="userInteraction">


					<form name="telefonForm" ng-submit="dodajTelefon()">

						<label for="novaMarkaId">Marka</label> <select
							class="form-control" ng-model="noviTelefon.markaId"
							ng-change="getModeliByMarkaId(noviTelefon.markaId)"
							id="novaMarkaId" name="markaName" required
							oninvalid="this.setCustomValidity('Unesite marku uredjaja')"
							oninput="setCustomValidity('')">
							<option value="">Marka Uredjaja</option>
							<option ng-repeat="marka in marke" value="{{marka.id}}">{{marka.nazivMarke}}</option>
						</select> <label for="noviModelId">Model</label> <select
							class="form-control" id="noviModelId" name="modelName"
							ng-model="noviTelefon.model.id" required
							oninvalid="this.setCustomValidity('Unesite model uredjaja')"
							oninput="setCustomValidity('')">
							<option value="">Model Uredjaja</option>
							<option ng-repeat="model in modeli" value="{{model.id}}">{{model.nazivModela}}</option>
						</select> <label for="noviModeStanjeId">Stanje</label> <select
							class="form-control" id="noviModeStanjeId" name="stanjeName"
							ng-model="noviTelefon.stanje" required
							oninvalid="this.setCustomValidity('Unesite stanje uredjaja')"
							oninput="setCustomValidity('')">
							<option value="">Stanje Uredjaja</option>
							<option ng-repeat="stanje in stanja" value="{{stanje}}">{{stanje}}</option>
						</select> <label for="noviTelefonCenaId">Cena</label> <input type="number"
							name="cenaName" class="form-control" id="noviTelefonCenaId"
							ng-model="noviTelefon.cena" placeholder="00.00 &euro;" required
							min="1" max="9999"
							oninvalid="this.setCustomValidity('Unesite cenu uredjaja, maksimalno 4 cifre')"
							oninput="setCustomValidity('')"> 
						<label for="noviTelefonOpisId">Opis</label> <br>
						<textarea rows="4" style="width: 100%" id="noviTelefonOpisId"
							name="opisName" ng-model="noviTelefon.opis"
							placeholder="Tekst Oglasa..." maxlength="255" required
							oninvalid="this.setCustomValidity('Morate uneti opis.')"
							oninput="setCustomValidity('')">
	    				</textarea>
						<label for="noviTelefonKontaktId">Broj Telefona</label> <input type="tel"
							name="telName" class="form-control" id="noviTelefonKontaktId"
							ng-model="noviTelefon.kontakt" required
							oninvalid="this.setCustomValidity('Unesite vas kontakt.')"
							oninput="setCustomValidity('')"> 
							
						<button type="submit" style="margin-top: 20px"
							class="btn btn-primary">Dodaj Oglas</button>

					</form>

					<br>

					<form name="pretragaForm">

						<label for="pretragaMarkaId">Marka</label> <select
							class="form-control"
							ng-change="getModeliByMarkaId(searchPhone.markaSearchId)"
							id="pretragaMarkaId" name="pretragaMarke"
							ng-model="searchPhone.markaSearchId">
							<option value="">Marka Uredjaja</option>
							<option ng-repeat="marka in marke" value="{{marka.id}}">{{marka.nazivMarke}}</option>
						</select> <label for="pretragaModelId">Model</label> <select
							class="form-control" id="pretragaModelId" name="modelName"
							ng-model="searchPhone.modelSearchId">
							<option value="">Model Uredjaja</option>
							<option ng-repeat="model in modeli" value="{{model.id}}">{{model.nazivModela}}</option>
						</select> <label for="pretragaModeStanjeId">Stanje</label> <select
							class="form-control" id="pretragaModeStanjeId" name="stanjeName"
							ng-model="searchPhone.stanje">
							<option value="">Stanje Uredjaja</option>
							<option ng-repeat="stanje in stanja" value="{{stanje}}">{{stanje}}</option>
						</select> <label for="pretragaTelefonCenaId">Cena Do</label> <input
							type="number" name="cenaName" class="form-control"
							id="pretragaTelefonCenaId" ng-model="searchPhone.cena"
							placeholder="00.00 &euro;"> <br>

						<button ng-click="trazi()" type="btn" class="btn btn-success">Pretrazi Oglase</button>

						<br> <br>

					</form>

				</div>

				<div class="col-sm-8">

					<!-- Begin Listing: 609 W GRAVERS LN-->
					<div
						class="brdr bgc-fff pad-10 box-shad btm-mrg-20 property-listing col-sm-12"
						ng-repeat="t in telefoni">
						<div class="media">
							<a class="pull-left" target="_parent"> <img alt="image"
								class="img-responsive" src="{{t.model['putanjaDoModela']}}"></a>

							<div class="clearfix visible-sm"></div>

							<div class="media-body fnt-smaller">
								<a href="#" target="_parent"></a>

								<h4 class="media-heading">
									<a target="_parent"> {{t.model.marka['nazivMarke']}}
										{{t.model['nazivModela']}} <small style="color: red; font-size: 1em;"
										class="pull-right"> {{t.cena}} &euro; </small>
									</a>
								</h4>

								<ul class="list-inline mrg-0 btm-mrg-10 clr-535353">
									<li>{{t.stanje}}</li>
								</ul>

								<p>{{t.opis}}</p>
								<span class="fnt-smaller fnt-lighter fnt-arial">
									Telefon: {{t.kontakt}}
								</span>
							</div>
						</div>
					</div>
					<!-- End Listing-->
					<div style="text-align:center;">
						<button class="btn fa fa-arrow-left btn-primary" ng-click="nazad()"
							ng-disabled="pageNum == 0"></button>
						<button class="btn fa fa-arrow-right btn-primary" ng-click="napred()"
							ng-disabled="pageNum == totalPages - 1"></button>
					</div>
					<!-- End Col -->
				</div>
				<!-- End container -->
			</div>

			<!-- End row -->
		</div>
	</div>

</div>